/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

body {
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	color: #999;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #DCE442;
}

a:hover {
	color: #bd2e30;
	text-decoration-line: none;
}

#faq-title{
	padding-top: 150px;
	padding-bottom: 70px;
}

#faq-title h3{
	font-size: 1.2em;
}

#faq-content{
	padding-bottom: 50px;
}
.white {
	color: white;
}
/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h4, h5, h6 {
	font: 700 46px/1.2 'Raleway', sans-serif;
	margin: 5px 0 5px;
	color: white;
}
p.min {
	font-size: 14px;
	margin:15px 0;
}
.mt-50 {
	margin-top: 50px ;
}
.mt-20 {
	margin-top: 20px ;
}
h1 {

	font-weight: 700;
	margin: 5px 0 15px;
}

h2 {
	font-size: 32px;
	font-weight: 700;
}

h3 {
	 font-size: 30px;
    /* text-transform: uppercase; */
    margin: 5px 0 10px;
    color: black;
}


h4 {
	font-size: 16px;
	margin: 5px 0 10px;
	color: black;
	font-weight: 600;

}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}

p {
	margin: 0 0 15px;
	color: #4D4D4D;
}

p.blanco {
	color: white;
}

 video {
    width: 100%;
		margin-top: -5px;
  }


/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */
.navbar:focus {
	color: #b73034;
}
a,
.btn,
.navbar,
.form-control,
.portfolio-item-description {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

.portfolio-item-preview {
	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		 -o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.btn,
.panel,
.progress,
.form-control,
.modal-content,
.form-control:hover,
.form-control:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.plan,
.alert,
.label,
.form-control,
.modal-content,
.icons-widget li a,
.input-group-addon,
.panel-group .panel {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control {
	background: #FFF;
    border: .5px solid #D8E1E4;
    height: 45px;
    font-size: 14px;
    padding: 15px;
}
.black {
	color: black;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
.input-lg, .form-horizontal .form-group-lg .form-control {
	height: 62px;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
	height: 40px;
	font-size: 12px;
}

/* ---------------------------------------------- /*
 * Input-group
/* ---------------------------------------------- */

.input-group .form-control {
	z-index: auto;
}
.campo{
	background: #FFF;
    border: .5px solid #D8E1E4;
    font-size: 14px;
	padding: 15px;
	width: 100%;
	border-radius: 2px;
}
.campo:invalid{
	border: 1px solid red;
}
.campo:invalid{
	border: 1px solid red;
}
.campo:valid{
	border: 1px solid green;
}
.campo:valid{
	border: 1px solid green;
}
.campo:invalid + span::after{
	content: url(../images/error.png);

}

.campo:valid + span::after{
	content: url(../images/exito.png);
}

.error-msj{
	position: absolute;
	width: 150px;
	height: auto;
	padding: 5px;
	background-color: red;
	border-radius: 5px;
	left: 1010px;
	animation: resaltar 02.s linear 4;
}

@-moz-keyframes resaltar{
	0%{
		transform: translateY(-10);
	}

	50%{
		transform: translateY(+10);
	}

	100%{
		transform: translateY(-10);
	}
}

@-webkit-keyframes resaltar{
	0%{
		transform: translateY(-10);
	}

	50%{
		transform: translateY(+10);
	}

	100%{
		transform: translateY(-10);
	}
}

@keyframes resaltar{
	0%{
		transform: translateY(-10);
	}

	50%{
		transform: translateY(+10);
	}

	100%{
		transform: translateY(-10);
	}
}

.input-group-addon {
	background: #D8E1E4;
	border: 2px solid #D8E1E4;
	padding: 6px 15px;
	font-weight: 700;
}


/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */
.botones {
	margin-top: 30px;
	background: #bd2e30 !important;
	border-style: none;
	color: #fff !important;
	border-radius: 1px;
	width: 200px;
	height: 60px;
	font-size: 18px;
	border-radius: 3px !important;
}

.botones:hover ,  .btn-center:hover, .btn-centeres:hover{
	background: #c0123c !important;
	border: 2px solid #c0123c;
	
}
.btn-center {
	background: #bd2e30;
	border-style: none;
	color: white;
	border-radius: 1px;
	width: 150px;
	height: 45px;
	font-size: 14px;
	text-align: center;
}
.btn-centere {
	background: #bd2e30;
	border-style: none;
	color: white;
	border-radius: 1px;
	width: 150px;
	height: 45px;
	font-size: 14px;
	text-align: center;
	justify-content: left;
	margin-top: 25px;
}
.btn-centeres {
	background: #bd2e30;
	border-style: none;
	color: white;
	border-radius: 1px;
	width: 150px;
	height: 45px;
	font-size: 14px;
	text-align: center;
	justify-content: left;
	margin-top: 25px;
	margin-left: 15px;
	border-radius: 3px !important;
}
.btn-center:hover{
	background: transparent;
	border: 2px solid #c0123c;
	color: white;
}

.btn:hover, .btn:focus, .btn:active, .btn.active ,.btn-centeres:focus{
	outline: inherit !important;
}

/* Button icons */

.btn .icon-before {
	margin-right: 6px;
}

.btn .icon-after {
	margin-left: 6px;
}

/* Button size */

.btn-lg, .btn-group-lg > .btn {
	padding: 22px 24px;
	font-size: 14px;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 11px 18px;
	font-weight: 400;
	font-size: 12px;
}

.btn-xs, .btn-group-xs > .btn {
	padding: 7px 14px;
	font-size: 10px;
}

.btn-list .btn {
	margin-bottom: 5px;
}

/* Button types*/

.btn-default {
	background: #bd2e30;
}

.btn-custom-1, .btn-custom-2 {
	background: transparent;
	border: 2px solid #bd2e30;
	padding: 15px 25px;
	color: #bd2e30;
}

.btn-custom-2 {
	border: 2px solid #222;
	color: #222;
}

.btn-custom-1:hover, .btn-custom-1:focus, .btn-custom-1:active, .btn-custom-1.active {
	background: #bd2e30;
	border: 2px solid #bd2e30;
	color: #FFF;
}

.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active, .btn-custom-2.active {
	background: #222;
	border: 2px solid #222;
	color: #FFF;
}

.btn-custom-1-inverse, .btn-custom-2-inverse {
	background: #bd2e30;
	border: 2px solid #bd2e30;
	width: 150px;
	height: 45px;
	color: white;
}



.btn-custom-2-inverse {
	background: #222;
	border: 2px solid #222;
}

.btn-custom-1-inverse:hover, .btn-custom-1-inverse:focus, .btn-custom-1-inverse:active, .btn-custom-1-inverse.active {
	background: #c0123c;
	border: 2px solid #c0123c;
	color: white;
}

.btn-custom-2-inverse:hover, .btn-custom-2-inverse:focus, .btn-custom-2-inverse:active, .btn-custom-2-inverse.active {
	background: transparent;
	border: 2px solid #222;
}

/* ---------------------------------------------- /*
 * Alerts style
/* ---------------------------------------------- */

.alert {
	border: 0;
}

/* ---------------------------------------------- /*
 * Skill-bars
/* ---------------------------------------------- */

.skill-bar {
	background: #C4C4C4;
	display: table;
	height: 4px;
	width: 100%;
	margin: 10px -2px 20px -2px;
}

.skill-bar .skill-rate-on {
	background: #bd2e30;
}

.skill-rate-on, .skill-rate-off {
	display: table-cell;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
}

/* ---------------------------------------------- /*
 * Progress bars
/* ---------------------------------------------- */

.progress {
	background: #E5E5E5;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 22px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}

.progress-bar {
	background: #bd2e30;
	box-shadow: none;
	text-align: right;
	padding-right: 10px;
	line-height: 22px;
	-webkit-transition: all .7s ease-in-out;
	   -moz-transition: all .7s ease-in-out;
		-ms-transition: all .7s ease-in-out;
		 -o-transition: all .7s ease-in-out;
			transition: all .7s ease-in-out;
}

/* ---------------------------------------------- /*
 * Tabs
/* ---------------------------------------------- */

.nav-pills, .nav-tabs {
	margin-bottom: 20px;
}

.nav-pills > li > a {
	border-radius: 3px;
}

.nav-tabs > li > a {
	border-radius: 3px 3px 0 0;
}

.nav-pills > li.active > a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	background: #bd2e30;
}

/* ---------------------------------------------- /*
 * Panels
/* ---------------------------------------------- */

.panel {
	border: 0;
}

.panel-body {
	background: #f5f5f5;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
	border: 0;
}

/* ---------------------------------------------- /*
 * Modal
/* ---------------------------------------------- */

.modal-content {
	border: 0;
}

/* ---------------------------------------------- /*
 * Labels
/* ---------------------------------------------- */

.label {
	padding: .2em .6em .2em;
	font-size: 70%;
}

.label-custom-1 {
	background: #bd2e30;
}

.label-custom-2 {
	background: #222;
}

/* ---------------------------------------------- /*
 * Inline icons
/* ---------------------------------------------- */

.line-icon-before {
	margin-right: 6px;
}

.line-icon-after {
	margin-right: 6px;
}

/* ---------------------------------------------- /*
 * Icon-list and icon widget
/* ---------------------------------------------- */

.icons-widget {
	padding: 0;
	margin: 0;
}

.icons-widget li {
	display: inline-block;
	margin-right: 5px;
}

.icons-widget li a {
	background: #222;
	text-align: center;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 1.25em;
	color: #FFF;
}

.icons-widget li a:hover {
	background: #bd2e30;
}

.icons-widget-sm li a{
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: .8em;
}

.icons-widget-sm li {
	margin-right: 3px;
}

.icons-widget li:last-child {
	margin-right: 0;
}

.iconList li {
	padding: 5px 0;
}

.iconList li:before {
	content: "\f054";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 10px;
	text-align: left;
	padding: 0;
	margin: 0;
	display: inline-block;
	margin-right: 10px;
	line-height: 1em;
}
.rojo {
	color: #bd2e30;
}

.owl-item.lanzo{
	background: #bd2e30;
	height: 400px;
	padding: 50px  30px;
	border-radius: 5px;
}
.ventajasComp{
	padding: 100px 0;
	background-image: url("../images/1.jpg");
	 background-size:cover;
	  background-position-x:right;
	 background-position-y: top ;
	 background-attachment: fixed;
}
.clientesOrgullosos {
	padding: 50px 0;
	background: #fafafa;
}

/* ---------------------------------------------- /*
 * Owl slider
/* ---------------------------------------------- */

.owl-theme .owl-controls .owl-buttons div {
	background: transparent;
	font-size: 24px;
	opacity: .50;
	width: 44px;
	height: 44px;
	margin: 0;
	color: transparent;
}

.owl-theme .owl-controls .owl-page span {
	background: gray;
	margin: 5px 4px;
}

.owl-prev {
	position: absolute;
	top: 50%;
	left: 0px;
}

.owl-next {
	position: absolute;
	top: 50%;
	right: 0px;
}

/* ---------------------------------------------- /*
 * Scroll-up
/* ---------------------------------------------- */

.scroll-up {
	border-style: solid;
	border-width: 0 0 48px 48px;
	border-color: transparent transparent rgba(27, 18, 18, 0.6) transparent;
	position: fixed;
	display: none;
	right: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	z-index: 999;
	-webkit-transition: -webkit-transform 0.8s ease-in-out;
		  -moz-transition: -moz-transform 0.8s ease-in-out;
			  -o-transition: -o-transform 0.8s ease-in-out;
					transition: transform 0.8s ease-in-out;
}

.scroll-up a {
	position: relative;
	display: inline-block;
	padding: 22px;
	bottom: 0px;
	left: -44px;
	font-size: 18px;
	color: #FFF;
}

.scroll-up a:hover {
	color: #bd2e30;
}

/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

.wrapper {
	overflow: hidden;
}

.section {
	position: relative;
	padding: 120px 0;
}

.color-overlay {
	background: rgba(0, 0, 0, 0.5);
	padding: 60px 0;
}

.section-header {
	text-align: center;
}

.section-header,
.section-header h1,
.section-header h2,
.section-header h3,
.section-header h4,
.section-header h5,
.section-header h6 {
	color: white;
}

.callout-dark, .callout-light {
	background: #F2F2F2;
	text-align: center;
	padding: 60px 0;
}

.callout-dark {
	background: #222;
}

.rotate {
	text-shadow: 0 0 0 !important;
}

.long-down {
	margin-bottom: 40px;
}

.ajax-response {
	margin-top: 15px;
}

.rotate-section {
	background: #FFF;
	z-index: 99;
}

.rotate-section:before {
	top: 0;
	left: -10%;
	content: '';
	z-index: -1;
	width: 120%;
	height: 100%;
	position: absolute;
	background-color: #FFF;

	-webkit-transform-origin: 0 0;
	   -moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		 -o-transform-origin: 0 0;
			transform-origin: 0 0;

	-webkit-transform: rotate(-2deg);
	   -moz-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		 -o-transform: rotate(-2deg);
			transform: rotate(-2deg);

	-webkit-border-top: 1px solid rgba(0, 0, 0, 0.1);
	   -moz-border-top: 1px solid rgba(0, 0, 0, 0.1);
		 -o-border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rotate-section:after {
	bottom: 0;
	left: -10%;
	content: '';
	z-index: -1;
	width: 120%;
	height: 100%;
	position: absolute;
	background-color: #FFF;

	-webkit-transform: rotate(2deg);
	   -moz-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		 -o-transform: rotate(2deg);
			transform: rotate(2deg);

	-webkit-transform-origin: 0% 100%;
	   -moz-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		 -o-transform-origin: 0% 100%;
			transform-origin: 0% 100%;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
	background: #2E2A25;
	border-radius: 0;
	border: 0;
	padding: 25px 0;
	font-weight: 400;
	color: #FFF !important;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active
  {
	outline: 0;
	background: none;
	color: #fff;
	
	border-bottom: 2px solid #b73034;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 14px;
}

.navbar-color,
.custom-collapse {
	background: #2E2A25;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 15px 0;
}

.navbar-color .nav li a:hover,
.navbar-color .nav li a:focus,
.navbar-color .nav li.active,
.navbar-color .navbar-nav > li.active a {
	color: #d1cfd4;
}

.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: white;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #bd2e30;
}

/* ---------------------------------------------- /*
 * intro
/* ---------------------------------------------- */

#intro {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;
	padding: 230px 0 160px 0;
	text-align: center;
	
}
#inter , .inter {
	background: url("../assets/images/bg2.jpg");
}


#intro,
#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
	color: #FFF;
}

.hello {
	margin: 0 0 100px;
}
.botones {
	background: #d0d4d7;
	border-style: none;
	color: black;
	border-radius: 1px;
	width: 160px;
	height: 51px;
	font-size: 18px;
}
h3.gray {
	color: #AFAFAF;
}


/* ---------------------------------------------- /*
 * Service
/* ---------------------------------------------- */
.contenedor {
	margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px;
    padding-right: 15px;
}
.bg-index {
	background: url(../images/bground.PNG) no-repeat ;
	background-size: cover;
	height: 750px;
	margin-top:100px;
	

}
.hello2 {
	margin-top:300px !important;
	margin-left: 100px;

}
h1.portada-title {
 margin-top: 54px;
 color: #bd2e30;
 font-family: 'Roboto', sans-serif;

}
#services-header {
	background: url(../images/bg2.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}
.service {
	text-align: left;
	margin: 0 0 40px;
}

.service .icon {
	font-size: 32px;
	color: #bd2e30;
}

.service h4 {
	text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.sliderHome {
	padding-left: 100px;
	padding-left: 50px;
}
.sliderHome2 {
	padding-right:  50px;
	}
/* ---------------------------------------------- /*
 *Proceso
/* ---------------------------------------------- */
#proceso-header {
	background: url(../images/bg1.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}
/* ---------------------------------------------- /*
 * Portfolio
/* ---------------------------------------------- */

#portfolio-header {
	background: url(../images/bg1.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}

.portfolio-item {
	margin-bottom: 20px;
	overflow: hidden;
}

.portfolio-item-preview {
	position: relative;
}

.portfolio-item:hover .portfolio-item-preview {
	-webkit-transform: scale(1.1) rotate(2deg);
	   -moz-transform: scale(1.3) rotate(3deg);
		-ms-transform: scale(1.3) rotate(3deg);
		 -o-transform: scale(1.3) rotate(3deg);
			transform: scale(1.2) rotate(3deg);
}

.portfolio-item:hover .portfolio-item-description {
	opacity: 1;
	bottom: 0;
}

.portfolio-item-description {
	background: rgba(255, 255, 255, .5);
	position: absolute;
	right: 0;
	bottom: -70px;
	left: 0;
	padding: 25px;
	text-align: center;
	opacity: 0;
	color: #222;
}

/* ---------------------------------------------- /*
 * Testimonials
/* ---------------------------------------------- */

#testimonials .owl-item {
	text-align: center;
}

#testimonials .avatar img {
	height: 84px;
	width: 84px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

#testimonials blockquote {
	border: 0;
	padding: 10px 80px;
	margin: 0;
}

#testimonials blockquote p {
	margin: 15px 0 5px;
}

#testimonials .stars {
	margin-bottom: 5px;
	color: #f1c40f;
}

#testimonials .star-off {
	color: #999;
}

/* ---------------------------------------------- /*
 * Team
/* ---------------------------------------------- */

#team-header {
	background: url(../images/bg3.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.member {
	text-align: center;
}

.member-data {
	padding: 15px 0 10px 0;
}

.member-data h3 {
	margin: 5px 0 0px;
}

.member-data span {
	font-size: 12px;
}

/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

#contact-header {
	background: url(../images/bg1.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#contact-data {
	background: #ebeff0;
	text-align: center;
}

.text-position{
	text-align: initial;
}

#map-section {
	position: relative;
	height: 450px;
	width: 100%;
}

#map {
	height: 450px;
	width: 100%;
}
.pl-20 {
	padding-left: 20px;
}
.pl-55 {
	padding-left: 55px;
}
#footer {
	background: #2E2A25;
	padding: 70px 0 0 0;
	color: #FFF;
}

#footer p ,a {
	font-size: 14px;
	color: #999999;
}
/*#footer img {
	margin-right: 16px;
}*/
a.footer-link {
	color: #999999;
}
a.footer-link:hover {
	color: #bd2e30;
}
h4.media-heading {
	color: #999999;
}
h3.footer {
	color: #999999;
}
#footer .footer-text{
	padding-left: 40px;
}

/* ---------------------------------------------- /*
 * Acordeón
/* ---------------------------------------------- */
.body-faq{
	background: #fafafa;
}

.tabs-links{
	display: grid;
}
.tabs-links a{
	
	text-decoration: none;
	background: white;
	text-align: left;
	padding: 20px 0 20px 20px ;
	color: black;

}
.tabs-links a:focus{
	outline: none;
}
.tabs-links a img{
	width: 20%;
}
.tabs-links a span{
	font-size: smaller;
}
.tabs-contents-item{
	display: none;
	background: white;
	padding: 1.5em;
}
.tabs-contents-item h6{
	padding-left: 44px;  
	line-height: 0.1;  
	padding-bottom: 26px;
}

.tabs-contents-item.active-faq{
	display: block;
}
.active-faq{
	padding: 50px 50px;
	z-index: 10;
	color: red;
	-webkit-box-shadow: 7px 6px 10px 0px rgba(161,152,161,0.61);
	-moz-box-shadow: 7px 6px 10px 0px rgba(161,152,161,0.61);
	box-shadow: 7px 6px 10px 0px rgba(161,152,161,0.61);
}

.acordeon .acordeon-titulo{
	background: white;
	color: black;
	padding: 0 1em;
	line-height: 2.5;
	border-bottom: 1px solid #D8E1E4;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
}

.acordeon .acordeon-contenido{
	padding: 0 2em;
	font-size: 15px;
	display:none;
}


/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */

.mouse-icon {
	position: relative;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	margin: 0 auto;
	display: block;
	z-index: 10;
}

.mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: black;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status, .status-mes {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	left: 45%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 40%;
	width: 400px;
}


.status-mes h4 {
	color: #222;
	margin-top: 30px;
}



/* ---------------------------------------------- /*
 * Automatizacion
/* ---------------------------------------------- */
#automatizacion {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;
	text-align: center;
}
#automatizacion h2 {
 color: white;
}

#control-movil {
	background: url(../images/bg1.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}
#porque-automatizar {
	background: url(../images/bg4.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}

.spacio {
	padding-bottom: 30px;
}
.verde {
	color: #bd2e30;
}
h2.verde {
	color: white;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 10px;
	font-size: 40px;

}

h2.black{
	color: black;
	font-family: 'Roboto', sans-serif;

	
}
h4.black{
	color: black;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 10px;
	font-size: 20px !important;

}
h3.blanco{
	color: white;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 10px;
	font-size: 24px;

}
.blanco {
	color: white;
}
p.automatizacion {
	padding-left: 30px;
	margin-bottom: 30px;
	margin-top: -14px;
}

b, strong {
    font-weight: 700;
    color: #2e2a25;
    font-size: 18px;
}

/* ---------------------------------------------- /*
 * Seguridad
/* ---------------------------------------------- */

#seguridad {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;
	text-align: center;
}
#seguridad h2 {
 color: white;
}

#seguridad2 {
	background: url(../images/bg6.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}
.green  {
	color: #7AC943;
	font-weight: 700;
}
h3.green:hover {
	color: #bd2e30;
}
/* ---------------------------------------------- /*
 * Automatizacion
/* ---------------------------------------------- */
#ambientacion {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;
	text-align: center;
}
#ambientacion h2 {
 color: white;
}

#ambientacion2 {
	background: url(../images/bg8.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}
#ambientacion3 {
	background: url(../images/bg7.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
			background-size: cover;
}
.green  {
	color: #7AC943;
	font-weight: 700;
}
h3.green:hover {
	color: #bd2e30;
}

/* ---------------------------------------------- /*
 * Contacto
/* ---------------------------------------------- */
#contacto {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;
	text-align: center;
}
#contacto h2 {
 color: white;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */
@media (min-width:2560px) {
	.hello2 {
		margin-top: 300px !important;
		margin-left: 98px;
	}
		h3 {
			font-size: 26px;
	}
	h1 {
		font-size: 52px;
	} 
}

@media (max-width:2560px) {
	.hello2 {
		margin-top: 300px !important;
		margin-left: 98px;
	}
	
	h3 {
		font-size: 26px;
	}
}
@media (max-width:1920px) {
	.hello2 {
		margin-top: 300px !important;
		margin-left: 98px;
	}
		
		h3 {
			font-size: 26px;
	}
}

@media (max-width:1200px) {
	h1 {
		font-size: 38px;
		font-weight: 700;
		margin: 5px 0 15px;
	}
	video {
		width: 100%;
		margin-top: -37px;
	}
	.hello2 {
		margin-top:300px !important;
		margin-left: 85px;
	}

}

@media (max-width: 992px) {

	.knob, .member {
		margin-bottom: 30px;
	}
	video {
		width: 100%;
		margin-top: -64px;
	}
	.hello2 {
		margin-top:300px !important;
		margin-left: 50px;
	}

}

@media screen and (max-width: 767px) {

	.scroll-up {
		display: none !important;
	}
	video {
		width: 100%;
		margin-top: 3px;
		margin-bottom: 21px;
	}
}

@media screen and (max-width: 600px) {

	h1 {
		font-size: 40px;
		font-weight: 700;
		margin: 5px 0 15px;
	}

	h3 {
		font-size: 26px;
		/* text-transform: uppercase; */
		margin: 5px 0 10px;
		color: black;
	}

	h2 {
		font-size: 30px;
		font-weight: 700;
	}

	.dispMovil {
		text-align: center;
	}

	.margen-movil {
		margin-top: 50px ;
	}


	.sliderHome2 {
		padding-left:  50px;
	}

	video {
		width: 100%;
		margin-top: -64px;
		margin-bottom: 16px;
	}

	.about-movil {
		margin-top: -15px;
	}

	#preloader {
		background: black;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	#status, .status-mes {
		background-image: url(../images/preloader.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 400px;
		left: 20%;
		margin: -100px 0 0 -100px;
		position: absolute;
		top: 40%;
		width: 400px;
	}
	
	.status-mes h4 {
		color: #222;
		margin-top: 30px;
	}
	#faq-content .tabs-links a img{
		width: 13%;
	}
	.tabs-links a span{
		font-size: 1.2em;
	}
}



@media screen and (max-width:480px){
	.acordeon .acordeon-titulo{
		font-size: 0.7em;
	}
	.tabs-links a span{
		font-size: 1.1em;
	}
	#footer .footer-text{
		padding-left: 35px;
	}

	#footer .footer-link img{
		width: 18%;
	}

	#footer .footer-link{
		font-size: 0.7em;
	}
	#faq-title{
		padding-top: 70px;
		padding-bottom: 50px;
	}

	#faq-title h2{
		font-size: 1.4em;
	}
	#faq-title h2 img{
		width: 13%;
	}

	#faq-content .tabs-links a img{
		width: 13%;
	}
	.tabs-contents-item h6{
		padding-left: 44px;  
		line-height: 1.2;  
		padding-bottom: 15px;
	}
	.tabs-contents-item h3{
		font-size: 1.1em;
	}
	.acordeon .acordeon-contenido{
		font-size: 12px;
	}
}